normapprox2bin/.Rproj.user/D38F07E7/sdb/prop/45EF320B
normapprox2bin/.Rproj.user/D38F07E7/sdb/prop/A7475563
normapprox2bin/.Rproj.user/D38F07E7/sdb/prop/CD450AC
normapprox2bin/.Rproj.user/D38F07E7/sdb/prop/INDEX
normapprox2bin/.Rproj.user/D38F07E7/sdb/s-83A3E4F0/B81B4CBD
normapprox2bin/.Rproj.user/D38F07E7/sdb/s-83A3E4F0/F0D47718
normapprox2bin/.Rproj.user/D38F07E7/sdb/s-83A3E4F0/lock_file
*.pper
normapprox2bin/.Rhistory